.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***********Font***************/
@font-face {
  font-family: 'Lucida Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/l_10646.ttf'); 
  src: local('Lucida Sans'), local('LucidaSans'),
       url('../src/fonts/l_10646.ttf') format('tff'), 
       url('../src/fonts/LSANS.TTF') format('tff'),
       url('../src/fonts/LSANSD.TTF') format('tff'),
       url('../src/fonts/LSANSI.TTF') format('tff'),
       url('../src/fonts/LTYPE.TTF') format('tff'),
       url('../src/fonts/LTYPEB.TTF') format('tff'),
       url('../src/fonts/LTYPEBO.TTF') format('tff'),
       url('../src/fonts/LTYPEO.TTF') format('tff')
}
body {
  font-family: 'Lucida Sans' !important;
}
/***********Menu***************/
#h-menu {
  padding: 15px 50px 15px 150px;
  background-color: #2B2B2B !important;
}
#h-menu a.nav-link {
  color: #fff;
}
#h-menu a.nav-link {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 50px;
}
a.navbar-brand img {
  width: 75%;
}