.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***********Fonts***************/
@font-face {
  font-family: 'Lucida Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/l_10646.ttf'); 
  src: local('Lucida Sans'), local('LucidaSans'),
       url('../src/fonts/l_10646.ttf') format('tff'), 
       url('../src/fonts/LSANS.TTF') format('tff'),
       url('../src/fonts/LSANSD.TTF') format('tff'),
       url('../src/fonts/LSANSI.TTF') format('tff'),
       url('../src/fonts/LTYPE.TTF') format('tff'),
       url('../src/fonts/LTYPEB.TTF') format('tff'),
       url('../src/fonts/LTYPEBO.TTF') format('tff'),
       url('../src/fonts/LTYPEO.TTF') format('tff')
}
@font-face {
  font-family: 'Maiandra GD';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/MAIAN.TTF'); 
  src: local('Maiandra GD'), local('MaiandraGD'),
       url('../src/fonts/MAIAN.TTF') format('tff')
}
body {
  font-family: 'Lucida Sans' !important;
  overflow-x: hidden;
}
/***********Menu***************/
#h-menu {
  padding: 10px 50px 10px 150px;
  background-color: #2B2B2B !important;
  box-shadow: 0px 12px 35px rgb(0 0 0 / 15%);
}
#h-menu a.nav-link {
  color: #fff;
}
#h-menu a.nav-link {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 50px;
}
a.navbar-brand img {
  width: 70%;
}
/*************Titles*****************/
h2.jap-title {
  font-size: 200px;
  text-align: center;
}
.main-title {
  float: right;
  background-color: #45D3E7;
  box-shadow: 0px 11px 20px rgb(0 0 0 / 45%);
}
.main-title .h-title {
  text-align: center;
  font-size: 75px;
  padding: 15px 0px;
  color: #fff;
  letter-spacing: 8px;
  font-family: 'Maiandra GD' !important;
}
.col-sm-11.main-title {
  position: absolute;
  z-index: 999;
  right: 0px;
}
.main-bg img {
  width: 100%;
  margin-top: 75px;
  z-index: 20 !important;
  position: relative;
}
/*Characters Cards*/
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.char-cards {
  margin-top: -300px;
  z-index: 9999 !important;
  position: relative;
}
.cnt-block.equal-hight {
  width: 350px;
  background-color: #2B2B2B;
  padding: 45px 100px;
  height: 200px !important;
  box-shadow: 0px 10px 12px rgb(0 0 0 / 65%);
}
.cnt-block.kh{
  margin-left: auto;
  margin-right: 25px;
}
.cnt-block.im{
  margin-right: auto;
  margin-left: 25px;
}
.cnt-block h3, .cnt-block p, .cnt-block a {
  color: #fff;
  text-align: center;
}
.cnt-block a {
  text-decoration: none;
  color: #45D3E7;
}
.cnt-block h3 {
  font-family: 'Maiandra GD' !important;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 30px;
}