.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***********Fonts***************/
@font-face {
  font-family: 'Lucida Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/LSANS.TTF'); 
  src: local('Lucida Sans'), local('LucidaSans'),
       url('../src/fonts/l_10646.ttf') format('tff'), 
       url('../src/fonts/LSANS.TTF') format('tff'),
       url('../src/fonts/LSANSD.TTF') format('tff'),
       url('../src/fonts/LSANSI.TTF') format('tff'),
       url('../src/fonts/LTYPE.TTF') format('tff'),
       url('../src/fonts/LTYPEB.TTF') format('tff'),
       url('../src/fonts/LTYPEBO.TTF') format('tff'),
       url('../src/fonts/LTYPEO.TTF') format('tff'),
       url('../src/fonts/LucidaSans.woff2') format('woff2'),
       url('../src/fonts/LucidaSans.woff') format('woff'),
       url('../src/fonts/LucidaSans-Demi.woff2') format('woff2'),
       url('../src/fonts/LucidaSans-Demi.woff') format('woff'),
       url('../src/fonts/LucidaSans-TypewriterBold.woff2') format('woff2'),
       url('../src/fonts/LucidaSans-TypewriterBold.woff') format('woff'),
       url('../src/fonts/LucidaSans-Typewriter.woff2') format('woff2'),
       url('../src/fonts/LucidaSans-Typewriter.woff') format('woff');

}
@font-face {
  font-family: 'Maiandra GD';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/MAIAN.TTF'); 
  src: local('Maiandra GD'), local('MaiandraGD'),
       url('../src/fonts/MAIAN.TTF') format('tff'),
       url('../src/fonts/MaiandraGD-Regular.woff2') format('woff2'),
       url('../src/fonts/MaiandraGD-Regular.woff') format('woff');
}
body {
  font-family: 'Lucida Sans' !important;
  overflow-x: hidden;
}
/***********Menu***************/
#h-menu {
  padding: 10px 50px 10px 150px;
  background-color: #2B2B2B !important;
  box-shadow: 0px 12px 35px rgb(0 0 0 / 15%);
}
#h-menu .nav-link {
  color: #fff;
}
#h-menu .nav-link {
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  padding-left: 50px;
}
a.navbar-brand img {
  width: 200px;
  padding: 10px 0px;
}
#app .home-m a.nav-link:after,
#about .about-m a.nav-link:after,
#episodes .episodes-m a.nav-link:after,
#author .author-m a.nav-link:after,
#contact .contact-m a.nav-link:after{
  content: "";
  width: 35px;
  height: 5px;
  background-color: #45D3E7;
  position: relative;
  display: block;
  border-radius: 5px;
  margin-top: 5px;
}
#app .home-m a.nav-link,
#about .about-m a.nav-link,
#episodes .episodes-m a.nav-link,
#author .author-m a.nav-link,
#contact .contact-m a.nav-link{
  color: #45D3E7 !important;
}

/*************Titles*****************/
h2.jap-title {
  font-size: 150px;
  text-align: center;
  font-weight: 500;
}
.main-title {
  float: right;
  background-color: #45D3E7;
  box-shadow: 0px 11px 20px rgb(0 0 0 / 45%);
}
.main-title .h-title {
  text-align: center;
  font-size: 75px;
  padding: 15px 0px;
  color: #fff;
  letter-spacing: 8px;
  font-family: 'Maiandra GD' !important;
  font-weight: 500;
}
.main-title {
  position: relative;
  z-index: 21;
  right: 0px;
}
.main-bg img {
  width: 100%;
  margin-top: 75px;
  z-index: 20 !important;
  position: relative;
}
.main-bg{
  background-image: url(./components/imgs/mainbg.jpg);
  width: auto;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
}

.char-cards ul.row {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: inherit;
}

/******************Characters Cards****************/
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.char-cards {
  position: relative;
  height: 100%;
}
.cnt-block.equal-hight {
  width: 430px;
  background-color: #2B2B2B;
  padding: 75px 40px;
  height: 225px !important;
  box-shadow: 0px 10px 12px rgb(0 0 0 / 65%);
}
.cnt-block.kh{
  margin-left: auto;
  margin-right: 25px;
}
.cnt-block.im{
  margin-right: auto;
  margin-left: 25px;
}
.cnt-block h3, .cnt-block p, .cnt-block a {
  color: #fff;
  text-align: center;
}
.cnt-block a {
  text-decoration: none;
  color: #45D3E7;
  font-size: 18px;
}
#about-us .cnt-block p {
  text-decoration: none;
  color: #45D3E7;
  font-size: 18px;
}
.cnt-block h3 {
  font-family: 'Maiandra GD' !important;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 40px;
  font-weight: 400;
}

/*************SYNOPSIS SECTION***************/

#synopsis {
  margin-bottom: 100px;
  margin-top: 25px;
}
#synopsis h2.s-title {
  font-family: 'Maiandra GD' !important;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 25px;
  font-weight: 400;
}
.blue-bg {
  background-color: #45D3E7;
  height: 60vh;
}
.grey-bg {
  background-color: #2B2B2B;
  padding: 50px;
  box-shadow: -10px 0px 40px rgb(0 0 0 / 50%);
  margin-left: -100px;
}
.s-img img {
  width: 120%;
  box-shadow: 4px 15px 30px rgb(0 0 0 / 50%);
}
.s-description p {
  text-align: justify;
  color: #fff;
  font-size: 18px;
}
.row.blue-bg {
  display: table-row;
}
.s-description, .s-img {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 1600px){
  .s-img img {
    width: 100% !important;
  }
  .grey-bg {
    margin-left: 0px !important;
  }
}
@media (max-width: 767px){
  .s-description, .s-img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #synopsis {
    margin-top: 50px !important;
    text-align: center;
  } 
  .cnt-block.kh, .cnt-block.im {
      margin: 15px auto !important;
  }
  #h-menu{
    padding: 15px 15px;
  }
  h2.jap-title {
    font-size: 80px;
    margin: 15px 0px;
  }
  .main-bg .main-title .h-title {
    font-size: 40px;
    padding: 15px 50px;
  }
  .about-bg .main-title .h-title,
  .episodes-bg .h-title,
  .author-bg .h-title,
  .contact-bg .h-title {
    font-size: 40px;
    padding: 15px 0px;
    letter-spacing: 4px;
  }
  .about-bg {
    margin-top: -165px !important;
    background-position: top;
  }
  .aboutus-title {
    top: 70vh !important;
  }
  .episodes-bg {
    height: 90vh !important;
    margin-top: -100px !important;
    background-position: center;
  }
  .author-bg {
    height: 85vh !important;
    margin-top: -25px !important;
    background-position: center;
  }
  .container-fluid.dark-bg-ep .container {
    padding-top: 50px !important;
  }
  .contact-bg {
    height: 103vh !important;
    margin-top: -170px !important;
    background-position: bottom;
  }
  .contact-bg .contact-title {
    top: 75vh !important;
  }
  .author-bg .contact-title {
    top: 60vh !important;
  }
  .social-contact a.social-logo img {
    width: 90px !important;
    margin-left: -15px;
    transform: unset !important;
  }
  .social-contact .row {
    margin-top: -55px !important;
  }
  #contact-form-title h2 {
    font-size: 40px !important;
  }
  #contact-form {
    padding: 25px 0px !important;
  }
  div#form-input-control-country {
    width: 100% !important;
    height: 72px;
  }
  #form-textarea-control-opinion {
    height: 200px !important;
  }
  #contact-form button {
    margin-bottom: 15px;
  }
  h2.hero,
  h2.daisuke {
    font-size: 40px !important;
    letter-spacing: -1px !important;
  }
  button.navbar-toggler {
    background-color: #45d3e7;
    border-radius: 0px;
    padding: 10px;
  }
  .navbar-toggler-icon {
      width: 1.60em;
      height: 1.60em;
  }
  button.navbar-toggler:hover {
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  #author .dark-bg-ep .container, #author .blue-bg-author .container {
    padding-bottom: 50px !important;
  }
  #author .blue-bg-author .container {
    padding-top: 50px !important;
  }
  .col-md-6.daisuke-txt-container {
    padding-bottom: 25px;
  } 
  .bg-blue-hero {
    min-height: 45vh !important;
  }
  p.hero-i {
    margin-top: -25px !important;
    font-size: 12px !important;
    margin-left: 10px !important;
  }
  p.hero-name {
    margin-top: 25px !important;
  }
  p.daisuke-i {
    margin-top: -10px !important;
    font-size: 12px !important;
    margin-right: 10px !important;
  }
  .bg-dark-daisuke {
    min-height: 47vh !important;
    left: 69% !important;
  }
  .col-md-6.daisuke-txt-container {
    padding-top: 25px !important;
  }
  p.daisuke-txt, p.hero-txt {
    margin-top: 25px !important;
  }
  .footer-d {
    margin-bottom: 15px !important;
  }
  .mymodal {
    width: 90% !important;
    padding: 15px !important;
    margin: 15px;
    top: unset !important;
    left: unset !important;
    transform: unset !important;
    height: 100vh !important;
    overflow-y: scroll !important;
  }
  .mymodal .p-container-modal {
      padding: 15px !important;
  }
  a#rm-btn:hover h2.rm-txt {
    transform: scale(0.8);
  }
  button.ui.green.button {
    margin-bottom: 25px !important;
  }
  .rm-container {
      padding-top: 0px;
  }
  .cnt-block.equal-hight {
    padding: 40px 20px;
  }
  .char-cards ul.row {
    height: auto;
  }
  .char-cards {
    margin-left: 25px;
  }
  .main-bg {
    height: 110vh;
    background-position: unset;
  }
  .grey-bg {
    padding: 20px;
  }
  #gallery-1 {
    padding: 50px 0px 40px 0px  !important;
  }
  .s-description, .s-img {
    display: block !important;
  }
  #gallery-1 {
    display: none;
  }
  .rm-container {
    padding-top: 15px;
  }
  h2.rm-txt {
      font-size: 40px;
      letter-spacing: 5px;
      text-align: center;
      margin-bottom: 15px;
  }
  .main-bg img {
      width: 100%;
      height: 45%;
  }
  img.ep-img {
    margin-left: -20px !important;
    border: 5px solid #fff !important;
    height: 85px !important;
  }
  img.ep-2-img {
      margin-left: -25px !important;
      border: 5px solid #45d3e7 !important;
      height: 85px !important;
  }
  a.ep-btn:hover .ep-player,
  a.ep-2-btn:hover .ep-2-player {
      height: 60px !important;
  }
  img.ep-player {
      height: 60px !important;
      margin-left: -15px !important;
  }
  img.ep-2-player {
      height: 60px !important;
      margin-left: -7px !important;
  }
  .row.ep,
  .row.ep-2 {
      border-radius: 25px !important;
      height: 22vh !important;
      margin-top: 50px !important;
  }
  h2.ep-title,
  h2.ep-2-title {
      font-size: 18px !important;
  }
  p.ep-date,
  p.ep-2-date {
      font-size: 14px !important;
  }
  .container.ep-container {
    padding-bottom: 0px;
  } 
  button.load-more {
    width: auto !important;
    margin: 15px !important;
    height: 65px !important;
    font-size: 18px !important;
    letter-spacing: 1px !important;
    border: none !important;
  }
  .container.ep-container.ep-btn-lm {
    padding-top: 25px !important;
    padding-bottom: 50px !important;
  }
  .sau-img img {
    width: 100% !important;
  }
  .col-md-6.sau-description.blue-bg-au {
    margin: auto !important;
    padding: 15px !important;
  }
  #about-us {
    height: auto !important;
  }
  /*******About us Synopsis*******/
  .dark-bg-au {
    height: unset !important;
  }
  #synopsis-au {
    margin-top: 50px !important;
    margin-bottom: 25px !important;
  }
  #synopsis-au h2.sau-title {
    margin-bottom: 0px !important;
  }
  .row.dark-bg-au {
    margin-top: 25px !important;
  }
  /*******About us Modals*******/
  #about-us li {
    margin-right: 0px;
    padding-right: 0px;
}
  #about-us .cnt-block.equal-hight {
    width: 100% !important;
    margin-top: 15px;
    height: unset !important;
    padding: 50px 40px 0px 40px !important;
  }
  #about-us div.cnt-block.equal-hight{
    height: 315px !important;
  }
  #about-us {
    padding-top: 50px !important;
  }
  .cnt-block h3 {
    letter-spacing: 2px!important;
    line-height: 55px!important;
    font-size: 50px!important;
  }
  ul.row.characters-2 {
    padding-left: 0px;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }
  ul.row.characters-1 li {
    padding-left: 0px !important;
  }
  #about-us img {
    height: 150px !important;
    padding: 0px 60px;
    margin-top: -150px !important;
  }
  .ui.form ::-webkit-input-placeholder {
    color: #2b2b2b;
  }
  .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: #2b2b2b;
  }
} 
.about-bg{
  background-image: url(./components/imgs/aboutbg.jpg);
  width: auto;
  height: 100vh;
  margin-top: -200px;
}
.episodes-bg{
  background-image: url(./components/imgs/episodesbg.jpg);
  width: auto;
  height: 90vh;
  margin-top: -200px;
}
.author-bg{
  background-image: url(./components/imgs/authorbg.jpg);
  width: auto;
  height: 100vh;
  margin-top: -200px;
}
.contact-bg{
  background-image: url(./components/imgs/contactbg.jpg);
  width: auto;
  height: 100vh;
  margin-top: -200px;
}
.about-title {
  position: relative;
  top: 65vh;
}
.aboutus-title {
  position: relative;
  top: 60vh;
}
.contact-title {
  position: relative;
  top: 55vh;
}

/***************** GALLERY *********************/

#gallery-1 .g-title{
  font-family: 'Maiandra GD' !important;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
}
#gallery-1 {
  text-align: center;
  background-color: #45D3E7;
  padding: 100px 0px;
}
.row.second-row {
  margin-top: 35px;
}
.g-img-3{
  height: 100%;
  width: 100%;
}
/*************** FOOTER***************/
.dark-bg {
  background-color: #2B2B2B !important;
  padding-top: 75px;
  padding-bottom: 50px;
}
.dark-bg-cp {
  background-color: #2B2B2B;
}
.blue-bg-cp{
  background-color: #45D3E7;
}
footer h3 {
  font-family: 'Maiandra GD' !important;
  font-size: 40px;
  letter-spacing: 2px;
  color: #FFF;
  font-weight: 400;
}
.footer-d {
  color: #fff;
  text-align: justify;
  margin-right: 25px;
  font-size: 18px;
  margin-top: 25px;
}
.nav-footer {
  display: block;
  margin: 15px 0px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
}
.nav-footer.first-nav {
  margin-top: 25px;
}
p.footer-sub {
  color: #fff;
  font-family: 'Maiandra GD' !important;
  font-size: 22px;
}
.nav-footer:hover {
  color: #45D3E7;
}
#app .home:after,
#about .about:after,
#episodes .episodes:after,
#author .author:after,
#contact .contact:after {
  content: "";
  width: 150px;
  height: 5px;
  background-color: #45D3E7;
  right: 0px;
  top: 50%;
  position: revert;
  margin-left: 5px;
  margin-bottom: 3px;
  display: inline-block;
}
a.footer-logo img {
  width: 100%;
}
.copyright {
  color: #2B2B2B;
  font-size: 18px;
  padding: 25px;
  margin-bottom: 0px;
  text-align: center;
}
.row.social-row {
  padding-top: 50px;
  margin: auto;
}
a.social-logo img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
a.social-logo:hover img {
  transform: scale(1.1);
}
.social-contact a.social-logo img {
  width: 210px;
}
/************************ ABOUT US ****************************/

/************** ABOUT CHARACTERS ***************/
#about-us {
  background-color: #45d3e7;
  height: 65vh;
  padding-top: 25px;
  display: grid;
}
ul.row.characters-1 {
  align-content: center;
  margin: auto;
  padding: 0px;
}
.characters-2 {
  display: flex;
  justify-content: center;
  margin-top: 100px !important;
}
#about-us .cnt-block.equal-hight {
  width: 360px;
  background-color: #2b2b2b;
  padding: 75px 75px;
  height: 325px!important;
  box-shadow: 0 10px 12px rgb(0 0 0 / 65%);
}
#about-us img {
  height: 200px;
  margin-top: -150px;
  border-radius: 50%;
}
#about-us .cnt-block h3 {
  margin-top: 20px;
}
.characters-1 .cnt-block {
  margin-top: -150px;
}
/*Hover Characters*/
a:hover .cnt-block.equal-hight.k-h {
  background-color: #775030 !important;
}
a:hover .cnt-block.equal-hight.i-m {
  background-color: #485063 !important;
}
a:hover .cnt-block.equal-hight.yy {
  background-color: #c5b270 !important;
}
a:hover .cnt-block.equal-hight.ti {
  background-color: #835f83 !important;
}
a:hover .cnt-block.equal-hight.ks {
  background-color: #872e30 !important;
}
a:hover .cnt-block.equal-hight.ra {
  background-color: #eb6c73 !important;
}
a:hover .cnt-block.equal-hight.sk {
  background-color: #4c6421 !important;
}
a:hover .cnt-block.equal-hight a {
  color: #fff;
}
a.horimiya-characters {
  text-decoration: none;
  cursor: pointer;
}

/**Modal**/
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 50px;

  width: 75%;
  height: 90vh;
  background-color: #2B2B2B;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}
.mymodal h2 {
  font-family: 'Maiandra GD' !important;
  font-size: 45px;
  font-weight: 400;
}
.mymodal p {
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}
.mymodal h2, .mymodal p {
  color: #fff;
}
.mymodal hr {
  color: #45D3E7;
  border-radius: 5px;
  height: 5px !important;
  width: 50%;
  margin-top: 0px;
  opacity: 1;
}
.img-container-modal {
  display: grid;
  background-color: #45D3E7;
}
img.modal-img {
  border-radius: 50% !important;
  width: 90% !important;
  margin: auto;
  align-self: center;
  border: 25px solid #2b2b2b;
}
.mymodal button {
  background-color: #45D3E7;
  padding: 15px;
  color: #2b2b2b;
  font-family: 'Maiandra GD' !important;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  border: none;
  margin-top: 15px;
}
.mymodal button:hover {
  background-color: #fff;
}
.p-container-modal{
  padding: 50px !important;
}
.mymodal {
  display: grid;
}
.mymodal .row{
  margin: auto;
  align-self: center;
}

/*****************READ MANGA SECTION***********************/
.blue-bg-rm {
  background-color: #45D3E7;
}
.rm-container{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-col{
  display: grid;
}
.rm-btn {
  margin: auto;
  align-self: center;
  width: 150px;
  box-shadow: -10px 0px 40px rgb(0 0 0 / 50%);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.title-col{
  display: grid;
}
.rm-txt{
  margin: auto;
  align-self: center;
  color: #2b2b2b;
  font-size: 53px;
  font-family: 'Maiandra GD' !important;
  letter-spacing: 10px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
a#rm-btn:hover #read-manga {
  background-color: #fff;
}
a#rm-btn:hover img.rm-btn {
  transform: scale(1.1);
}
a#rm-btn:hover h2.rm-txt {
  transform: scale(1.1);
  color: #2b2b2b;
  font-weight: 600;
}
a#rm-btn:hover #read-manga {
  background-color: #fff;
  background-image: -moz-linear-gradient(45deg, #666 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #666 25%, transparent 25%), 
      -moz-linear-gradient(45deg, transparent 75%, #666 75%), 
      -moz-linear-gradient(-45deg, transparent 75%, #666 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #666), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #666), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #666)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #666));
  background-image: -webkit-linear-gradient(45deg, #666 25%, transparent 25%), 
      -webkit-linear-gradient(-45deg, #666 25%, transparent 25%), 
      -webkit-linear-gradient(45deg, transparent 75%, #666 75%), 
      -webkit-linear-gradient(-45deg, transparent 75%, #666 75%);
  background-image: -o-linear-gradient(45deg, #666 25%, transparent 25%), 
      -o-linear-gradient(-45deg, #666 25%, transparent 25%), 
      -o-linear-gradient(45deg, transparent 75%, #666 75%), 
      -o-linear-gradient(-45deg, transparent 75%, #666 75%);
  background-image: linear-gradient(45deg, #666 25%, transparent 25%), 
      linear-gradient(-45deg, #666 25%, transparent 25%), 
      linear-gradient(45deg, transparent 75%, #666 75%), 
      linear-gradient(-45deg, transparent 75%, #666 75%);
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  -webkit-background-size: 2px 2.1px;
  background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
}
a#rm-btn {
  text-decoration: none;
}
/************** ABOUT HORIMIYA ***************/
#synopsis-au {
  margin-top: 100px;
  margin-bottom: 150px;
}
#synopsis-au h2.sau-title {
  font-family: 'Maiandra GD' !important;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
}
.sau-img img {
  width: 110%;
  box-shadow: 4px 15px 30px rgb(0 0 0 / 50%);
}
.sau-img {
  display: table-cell;
  vertical-align: middle;
}
.dark-bg-au {
  background-color: #2b2b2b;
  height: 45vh;
  align-content: center;
  margin-top: 50px !important;
}
.blue-bg-au {
  background-color: #45D3E7;
  padding: 50px 50px !important;
  box-shadow: 4px 15px 30px rgb(0 0 0 / 50%);
  margin-left: 35px;
}
.sau-description p {
  text-align: justify;
  font-size: 18px;
}
/******************* EPISODES BLUE *************************/
.dark-bg-ep{
  background-color: #2B2B2B;
  /*height: 185vh;*/
}
.row.ep {
  background-color: #45d3e7;
  border-radius: 150px;
  height: 22vh;
  align-content: center;
  margin-top: 100px;
}
.container.ep-container {
  /*height: 25vh;*/
  padding-bottom: 25px;  
  display: grid;
}
img.ep-img {
  border-radius: 50%;
  margin-left: -15px;
  border: 25px solid #fff;
  align-self: center;
  vertical-align: middle;
  height: 275px;
}
.ep .col-md-3 {
  display: grid;
}
.ep-content{
  display: grid;
}
.ep-content .row{
  align-self: center;
}
h2.ep-title {
  font-family: 'Maiandra GD' !important;
  font-size: 45px;
  font-weight: 400;
}
p.ep-date {
  font-size: 20px;
}
img.ep-player {
  margin: auto;
  align-self: center;
}
a.ep-btn:hover .ep-player {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
a.ep-btn {
  text-decoration: none;
  color: #2b2b2b;
}
a.ep-btn:hover {
  color: #fff;
}
a.ep-btn:hover img.ep-img {
  border-color: #45d3e7;
}

/******************* EPISODES WHITE *************************/
.row.ep-2 {
  background-color: #fff;
  border-radius: 150px;
  height: 22vh;
  align-content: center;
  margin-top: 100px;
}
.container.ep-2-container {
  height: 25vh;
  display: grid;
}
img.ep-2-img {
  border-radius: 50%;
  border: 25px solid #45d3e7;
  height: 275px;
  margin: auto;
  margin-right: -15px;
}
.ep-2 .col-md-3 {
  display: grid;
}
.ep-2-content{
  display: grid;
}
.ep-2-content .row{
  align-self: center;
}
h2.ep-2-title {
  font-family: 'Maiandra GD' !important;
  font-size: 45px;
  font-weight: 400;
}
p.ep-2-date {
  font-size: 20px;
}
img.ep-2-player {
  margin: auto;
  align-self: center;
}
a.ep-2-btn:hover .ep-2-player {
  filter: invert(55%) sepia(80%) saturate(105%) hue-rotate(150deg) brightness(130%) contrast(125%);
}
a.ep-2-btn {
  text-decoration: none;
  color: #2b2b2b;
}
a.ep-2-btn:hover {
  color: #45d3e7;
}
a.ep-2-btn:hover img.ep-2-img {
  border-color: #fff;
}
.ep-text{
  margin: auto;
}

/*Episodes Button*/
button.load-more {
  width: 300px;
  margin: auto;
  height: 100px;
  font-family: 'Maiandra GD' !important;
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.ep-btn-lm{
  padding-top: 50px;
  padding-bottom: 100px;
}
.modal-vid{
  min-width: 100% !important;
  height: 65vh !important;
}
.modal-close-vid{
  float: right;
}
.container.ep-container.ep-btn-lm {
  padding-top: 50px;
  padding-bottom: 100px;
}

/******************* AUTHORS *************************/
#author .dark-bg-ep .container, #author .blue-bg-author .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
h2.hero {
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Maiandra GD' !important;
  letter-spacing: 4px;
  font-weight: 400;
}
p.hero-txt {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
p.hero-name {
  font-size: 18px;
  color: #2b2b2b;
  margin-top: 50px;
  text-align: right;
}
h2.daisuke {
  font-size: 50px;
  text-align: center;
  color: #2b2b2b;
  font-family: 'Maiandra GD' !important;
  letter-spacing: 4px;
  font-weight: 400;
}
p.daisuke-txt {
  font-size: 18px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 50px;
}
p.daisuke-name {
  font-size: 18px;
  color: #2b2b2b;
  margin-top: 50px;
  text-align: right;
}
.blue-bg-author{
  background-color: #45D3E7;
}
img.hero-img {
  border-radius: 50% !important;
  width: 90% !important;
  margin: auto;
  align-self: center;
  border: 25px solid #fff;
  z-index: 2;
}
.bg-blue-hero {
  background-color: #45d3e7;
  width: 25%;
  position: absolute;
  z-index: 0;
  min-height: 70vh;
}
img.daisuke-img {
  border-radius: 50% !important;
  width: 90% !important;
  margin: auto;
  align-self: center;
  border: 25px solid #fff;
  z-index: 2;
}
.bg-dark-daisuke {
  background-color: #2b2b2b;
  width: 25%;
  min-height: 70vh;
  position: absolute;
  z-index: 0;
  left: 24%;
}
.hero-img-container, .daisuke-img-container{
  display: grid;
}
.daisuke-txt-container {
  padding: 100px 0px;
}
p.daisuke-i {
  text-align: right;
  color: #fff;
  z-index: 9;
  margin-top: -100px;
  font-size: 14px;
  margin-right: 15px;
}
p.hero-i {
  text-align: left;
  color: #fff;
  z-index: 9;
  margin-top: -100px;
  font-size: 22px;
  margin-left: 25px;
}
.container-fluid.contact-c {
  padding: 10px 3%;
  background-color: #2b2b2b;
  margin-top: -25px;
}
.social-contact .row{
  float: right;
  margin-top: -100px;
}
#contact-form{
  background-image: url(./components/imgs/contact-bg.jpg);
  min-height: 100vh;
  padding: 100px 0px;
}
#contact-form button  {
  width: 275px;
  margin: auto;
  height: 75px;
  border-radius: 0px;
  background-color: #2b2b2b;
  font-family: 'Lucida Sans' !important;
  font-weight: 500;
  font-size: 20px;
}

#form-input-control-name, input#form-input-control-email, input#form-input-control-phone {
  border: none;
  border-radius: 0;
  background-color: rgb(255 255 255 / 70%);
  padding: 25px;
  font-size: 20px;
  font-family: 'Lucida Sans' !important;
  letter-spacing: 2px;
  color: #2b2b2b;
}
div#form-input-control-country {
  border: none;
  border-radius: 0;
  background-color: rgb(255 255 255 / 70%);
  font-size: 18px;
  font-family: 'Lucida Sans' !important;
  letter-spacing: 2px;
  color: #2b2b2b;
  line-height: 25px;
  width: 308px;
  height: 72px;
}
#form-input-control-country .item span {
  letter-spacing: 1px;
}
#form-textarea-control-opinion {
  border: none;
  border-radius: 0;
  background-color: rgb(255 255 255 / 70%);
  padding: 25px;
  font-size: 20px;
  font-family: 'Lucida Sans' !important;
  letter-spacing: 2px;
  color: #2b2b2b;
  height: 300px;
}
#contact-form-title h2 {
  font-size: 75px;
  font-family: 'Maiandra GD' !important;
  font-weight: 200;
  letter-spacing: 8px;
}
#contact-form-title {
  padding: 35px;
  background-color: rgb(255 255 255 / 60%);
  margin-bottom: 15px;
}
.map-horimiya {
  width: 100%;
}

/*Suscription Form - Footer*/

#form-input-control-name-sus, #form-input-control-email-sus {
  border-radius: 0;
  background-color: #45d3e7;
  font-size: 16px;
  font-family: 'Lucida Sans' !important;
  letter-spacing: 1px;
  line-height: 25px;
}
i.user.circle.outline.icon, i.mail.outline.icon {
  font-size: 22px;
  color: #2b2b2b !important;
  opacity: 1;
}
i.user.circle.outline.icon:before, i.mail.outline.icon:before {
  padding-right: 10px !important;
}
.ui.input>input::-webkit-input-placeholder {
  color: #2b2b2b !important;
}
.SuscriptionForm button.ui.green.button {
  background-color: #fff;
  color: #2b2b2b;
  width: 100%;
  border-radius: 0;
  border: 5px solid #45d3e7;
  text-align: left;
  font-size: 16px;
  font-family: 'Lucida Sans' !important;
  letter-spacing: 1px;
}
.SuscriptionForm button.ui.green.button:hover {
  background-color: #45d3e7;
}
#form-input-control-email-error-message {
  position: absolute;
  margin-top: -35px;
}
#form-input-control-email-sus-error-message {
  position: absolute;
  margin-top: -25px;
}
.kh a:hover, 
.im a:hover {
  color: #fff;
}

/****************************** RESPONSIVE *****************************/

@media screen and (max-width: 991px) {
  .row.social-row {
    margin-bottom: 25px;
  }
  a.social-logo img {
    width: 40px;
  }
  .cnt-block.equal-hight {
    width: 100%;
  }
}